@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 30px;
}
/* Oculta el elemento por defecto */
.contactoHeader{
    display: none;
    border: none;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-nav{
    display: none;
}

/* estilos para dispositivos de 900 hacia abajo */
/* elementos del header */
header{
    padding: 40px 56px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navHambur{
    display: flex;
    flex-direction: column;
    border-color: black;
}
.navHambur span{
    width: 46px;
    height: 3px;
    background: black;
    margin: 12%;
}
/* container1 */

.container1{
    padding: 24px 40px;
}

.deportista{
    display: block;
    margin: 0 auto;
    width: 400px;
}

h1{
    color: #242E53;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.live{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.live p{
    font-size: 18px;
    margin: 20px 0px 20px 0px;
    font-weight: 700;
    line-height: 30px;
}

.contacto1{
    background-color:#8B48BF;
    color: white;
    height: 44px;
    width:134px;
    border-radius: 50px;
    text-align: center;
    border: none;
}
/* Container 2 y 5*/

.container2, .container5{
    background-color: #3CDDF3 ;
    color: white;
    height: 306px;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 42px 40px 20px;
}
.container2 h2{
    font-size: 36px;
    font-weight: 700px;
}

.container2 p{
    line-height: 25px;
}
/* .container5 */
.container5{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.goFor{
    background-color: #232C50;
    color: white;
    border: none;
    border-radius: 50px;
    width: 134px;
    padding: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Container 3 */

.container3{
    color: #B3B2B7;
    margin: 65px 0px 65px 34px;
}

.numeracion{
    background-color:hsl(274, 48%, 52%);
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 70px;
    height: 43px;
    position: absolute;
    z-index: 2;
    padding: 10px;
}

.container3 h3{
    background-color:RGB(139, 72,191,30%);
    color: #323851;
    height: 43px;
    padding: 10px;
    padding-left: 53px;
    margin-left: 35px;
}

.texto{
    padding: 10px;
    margin: 21px 17px 10px 0px;
}

/* Container 4 */

.container4{
    text-align: center;
    color: #B9B9C1;
    margin: 58px 18px;
}

/* ocultar la dos ultimas tarjetas */
.ocultar{
    display:none;
}

/* Titulo */

.container4 h2{
    color: #242E53;
    font-size: 40px;
    padding-bottom: 20px;
}

.container4 h4{
    color: #3F4868;
    padding-bottom: 21px;
}

.fotoPerfil{
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    bottom: 33px;
}

.container4 article{
    background-color: #FAFAFA;
    padding: 10px;
    margin: 45px 0px;
}

/* Boton */
.More{
    background-color: #8B48BF;
    color: white;
    border: none;
    border-radius: 50px;
    width: 134px;
    padding: 10px;
}

.More:active{
    background-color: RGB(139, 72,191,70%);
}

/* Footer */

footer{
    background-color: #1E1E26;
    display: flex;
    color: #FAFAFA;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 32.5px 50px;
}

/* Estilos article footer */

.articleFooter{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 12.5px 0px;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
}

/* Estilos del menu */

.menuFooter{
    order:-1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12.5px;

}

.menuFooter ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

.menuFooter li{
    width: 50%;
    list-style-type: none;
    text-align:left;
    padding: 5px;
}

.menuFooter a{
    text-decoration: none;
}

.menuFooter a:visited, a:visited {
    color: white;
}

/* Estilos formulario */
footer form{
    order:-2;
    padding: 12.5px 0px;
}

#inbox{
    width: 308px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    min-width: 201px;
}

#go{
    background-color: #8B48BF;
    color: white;
    border: none;
    border-radius: 50px;
    text-align: center;
    width: 63px;
    padding: 10px;
}

/* Estilo parrafo pie */
footer p{
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: bold;
    padding: 12.5px;
}

/* Establece el elemento para que aparezca cuando el ancho de la pantalla sea mayor a 900px */

@media(min-width:900px){

    /* Header para pantalla escritorio*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 65px 165px;
        }

    .contactoHeader{
        display: block;
        background-color:#8B48BF;
        color: white;
        width: 134px;
        padding: 10px;
        border-radius: 50px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .item-nav{
        display: flex;
        justify-content: space-around;
    }

    .item-nav a{
        text-decoration: none;
        color: #242E52;
        font-weight: 700;
        padding: 14px;
    }

    .item-nav a:active{
        color: RGB(36,46,82,60%);
    }

    .navHambur{
        display: none;
        }

/* container 1 para pantalla escritorio*/
    .container1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 86px 180px ;
    }
    .deportista{
        padding-right: 50px;
        width: 540px;
    }

    .live{
        padding-left: 50px;
        width: 50%;
    }
    .contacto1{
        background-color:#8B48BF;
        color: white;
        width:134px;
        padding: 10px;
        border-radius: 50px;
        text-align: center;
    }

    /* Container 2 y 5 para pantalla escritorio */
    
    /* container2 */

    .parrafoMovil{
        display: none;
    }
    .parrafoEscritorio{
        display: block;
    }

    .container2, .container5{
        background: #8B48BF;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

   /*  Container 5 */

    .goFor{
        background: white;
        color: #8B48BF;
        height: 12%;
        width: 10%;
    }
        /* Container 3  para pantalla escritorio */
    .container3{
        background: rgba(250, 250, 250, 1);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px;
        margin: 0px;
    }
    
    .container3 article{
        width: 50%;
        padding: 12px 25px;
    }
    
    .container3 h3{
        background: rgba(250, 250, 250, 1);
        padding: 10px 10px 10px 88px;
        margin: 0px;
    }
    
    .texto{
        padding-left: 88px;
    }

    /* container 4 para pantalla escritorio*/
    
    .ocultar{
        display: block;
    }

    .containerAvatares{
        display: flex;
    }
    
    /* Footer para pantalla escritorio*/
    Footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    /* Articulo footer */

    .redes{
        order:-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-bottom: 25px;
    }

    .articleFooter{
        width: 30%;
        order: -1;
    }
    /* Formulario */

    Footer form{
        width: 30%;
        order:0;
    }
    #inbox{
        width: 201px ;
    }

    /* Menu */
    .menuFooter{
        width: 50%;
    }

    /* Parrafo footer */
    footer p{
        display: inline;
        align-self: self-end;
    }
}

/* 
SOMBRA BOTONES
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));*/